<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <script data-require="angularjs@1.5.7" data-semver="1.5.7" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="todo" ng-init="name='Dongjoon'" ng-controller = "TodoCtrl">
      
    <div ng-repeat="todo in todos">  
        <!--
          todo를 반복할 시엔 특정 태그(div)로 감싸 주며 ng-repeat 디렉티브를 사용 한다.      
         -->
      <h3>{{todo.title}}</h3>
      <h4>{{todo.completed}}</h4>
        <input type="checkbox" ng-model="todo.completed">
      
        <br/>
        <date>{{todo.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</date>
        <!--
           date 태그 안에 마지막에 |(파이프) date를 붙이면 날짜 형식으로 나옴

           자세한 사용법은 https://docs.angularjs.org/api 에 들어가
            앵귤러에서 제공하는 내장함수를 사용한다.
         -->
        
      <br/>
      <input type="text" ng-model = "todo.title">
      
      <button type="button" ng-click="remove(todo)">삭제</button>
        <!-- 당연히 remove function은 script.js 에서 한다 -->
    </div>
      
      <hr>
      <!-- 
    =============================================================================================================================
      -->
      
      <button ng-click="status_Filter={completed:true}">Completed</button>
          <button ng-click="status_Filter={completed:false}">Active</button>
          <button ng-click="status_Filter={}">All</button>
      
      <div class="container">
          
          
           <div ng-repeat="todo in todos | filter:status_Filter">  
                <!--
                   <div ng-repeat="todo in todos"> 에다가 필터를 걸수가 있다
                     <div ng-repeat="todo in todos | filter : {completed: true}">
                     이렇게 걸면 체크가 된것만 보여 준다는 말임 /     
                -->
              <h3>{{todo.title}}</h3>
              <h4>{{todo.completed}}</h4>
                <input type="checkbox" ng-model="todo.completed">

                <br/>
                <date>{{todo.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</date>
                <!--
                   date 태그 안에 마지막에 |(파이프) date를 붙이면 날짜 형식으로 나옴

                   자세한 사용법은 https://docs.angularjs.org/api 에 들어가
                    앵귤러에서 제공하는 내장함수를 사용한다.
                 -->

              <br/>
              <input type="text" ng-model = "todo.title">

              <button type="button" ng-click="remove(todo)">삭제</button>
                <!-- 당연히 remove function은 script.js 에서 한다 -->
        </div>
          
          
      </div>
  </body>

</html>
